name: CI-CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install Dependencies
        run: |
          pip install -r requirements.txt

      - name: Build Docker Image
        run: |
          docker build -t heart-disease-api .

      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.shreyansh15 }}
          password: ${{ secrets.Docker@devtech }}

      - name: Tag Image
        run: |
          docker tag heart-disease-api ${{ secrets.shreyansh15 }}/heart-disease-api:latest

      - name: Push Image
        run: |
          docker push ${{ secrets.shreyansh15 }}/heart-disease-api:latest
